// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company_general1{
	width: 40%;
	float: left;
	//background: red;
}
.company_general2{
	width: 60%;
	float: left;
	//background: blue;
}
.company_general1 td{
border-bottom: dotted 1px #ccc;
}
.company_general2 td{
border-bottom: dotted 1px #ccc;
}

td.cell_align_right{
	text-align: right;
}
tr.tr_2{
	 color: rgb(182, 5, 255);
}
tr.tr_1{
	color: blue;
}