// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company_general1{
	width: 25%;
	float: left;
	background: red;
}
.company_general2{
	width: 50%;
	float: left;
	background: blue;
}
.company_general3{
	width: 25%;
	float: left;
	background: yellow;
}

td.cell_align_right{
	text-align: right;
}