<!DOCTYPE html>
<html>
<head>
  <title>Stock exchange - Financial report</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
    <h1 style="color:red;">Stock exchange - Financial report</h1>
    <h2>Real Estate</h2>
    <h2>HOSE - HNX (HASTC)</h2>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Companies</a></li>
    <li><a href="">Association rules</a></li>
    <li><a href="">Conclutions</a></li>
    <li><a href="/about">About</a></li>
    </ul>
    <hr>
  </div>
  <div id="data">
    <%= yield %>
  </div>
  <div id="bottom">
    @hvt 2015
  </div>
</div>
</body>
</html>